.register-form {
  display: flex;
  width: 27%;
  margin: 130px auto;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.register-form__heading {
  padding-left: 18px;
  color: #fff;
  background: #3F5CF7;
}

.register-form__group {
  margin: 17px 10px 17px 30px;
}

.register-form__group-content {
  display: flex;
  align-items: center;
}

.register-form__input {
  width: 80%;
  margin-left: 7px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}

.register-form__error {
  margin-left: 30px;
}

.register-form__button {
  margin: 18px 36px 18px 0;
  text-align: right;
}

.register-form__button-submit {
  padding: 5px 13px;
}