body {
  background: #eee;
}

.app {
  margin: 30px 50px 60px 80px;
}

.header {
  display: flex;
  padding: 10px 0 0 10px;
}

.drawer__hidden {
  display: none;
}

.drawer__open {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background: #3F5CF7;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.drawer__open span,
.drawer__open span:before,
.drawer__open span:after {
  content: '';
  display: block;
  height: 1px;
  width: 20px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

.drawer__open span:before {
  width: 11px;
  bottom: 8px;
}

.drawer__open span:after {
  width: 7px;
  top: 8px;
}

#drawer__input:checked~.drawer__open span {
  background: rgba(255, 255, 255, 0);
}

#drawer__input:checked~.drawer__open span::before {
  width: 20px;
  bottom: 0;
  transform: rotate(45deg);
}

#drawer__input:checked~.drawer__open span::after {
  width: 20px;
  top: 0;
  transform: rotate(-45deg);
}

.nav__content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 180px;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;
  background: #fff;
  transition: .5s;
}

.nav__menu {
  list-style: none;
}

.nav__item {
  display: flex;
  justify-content: space-around;
  font-family: Arial;
  font-size: 30px;
  color: #3F5CF7;
  padding-top: 10px;
  text-decoration: none;
}

.nav__logout {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: #3F5CF7;
  padding-top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#drawer__input:checked~.nav__content {
  left: 0;
}

.header__heading {
  font-size: 27px;
  margin: 0 20px;
  color: #3F5CF7;
}

.btn {
  padding: 5px 13px;
  color: #fff;
  background: #1B3FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shop__image {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.shop__content {
  padding: 10px;
  background: #fff;
}

.shop__name {
  display: inline;
}

.shop__area {
  display: inline-block;
}

.shop__genre {
  display: inline-block;
}

.shop__service {
  display: flex;
  justify-content: space-between;
}