.shop-search {
  display: flex;
  position: absolute;
  top: 50px;
  left: 900px;
}

.shop-list {
  display: flex;
  flex-wrap: wrap;
}

.shop__item {
  width: 265px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.favorite__button-submit {
  font-size: 2rem;
  color: #CFCFCF;
  background: none;
  border: none;
  cursor: pointer;
}

.favorite__button-submit.red {
  color: #FF3535;
}