.shop-search {
  text-align: right;
  position: relative;
  bottom: 30px;
}

.shop-list {
  display: flex;
  flex-wrap: wrap;
}

.shop__item {
  width: 23%;
  margin: 7px;
  border-radius: 10px;
  overflow: hidden;
}

.favorite__button-submit {
  font-size: 2rem;
  color: gray;
  background: none;
  border: none;
  cursor: pointer;
}

.favorite__button-submit.red {
  color: red;
}